<div class="container-fluid">
  <div class="row">
    <div class="col-3 category">
      <h3>Categories select</h3>
      <div class="dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle animated slideInUp" data-toggle="dropdown">
          {{data[0].category}}
        </button>
        <div class="dropdown-menu animated fadeIn">
          <a class="dropdown-item" (click)="getData(0,0)">{{data[0].subcategories[0].name}}</a>
          <a class="dropdown-item" (click)="getData(0,1)">{{data[0].subcategories[1].name}}</a>
          <a class="dropdown-item" (click)="getData(0,2)">{{data[0].subcategories[2].name}}</a>
          <a class="dropdown-item" (click)="getData(0,3)">{{data[0].subcategories[3].name}}</a>
        </div> 
      </div>
      <div class="dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle animated slideInUp" data-toggle="dropdown">
          {{data[1].category}}
        </button>
        <div class="dropdown-menu animated fadeIn">
          <a class="dropdown-item" (click)="getData(1,0)">{{data[1].subcategories[0].name}}</a>
          <a class="dropdown-item" (click)="getData(1,1)">{{data[1].subcategories[1].name}}</a>
          <a class="dropdown-item" (click)="getData(1,2)">{{data[1].subcategories[2].name}}</a>
          <a class="dropdown-item" (click)="getData(1,3)">{{data[1].subcategories[3].name}}</a>
        </div>
      </div>
      <div class="dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle animated slideInUp" data-toggle="dropdown">
          {{data[2].category}}
        </button>
        <div class="dropdown-menu animated fadeIn">
          <a class="dropdown-item" (click)="getData(2,0)">{{data[2].subcategories[0].name}}</a>
          <a class="dropdown-item" (click)="getData(2,1)">{{data[2].subcategories[1].name}}</a>
          <a class="dropdown-item" (click)="getData(2,2)">{{data[2].subcategories[2].name}}</a>
          <a class="dropdown-item" (click)="getData(2,3)">{{data[2].subcategories[3].name}}</a>
        </div>
      </div>
      <div class="dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle animated slideInUp" data-toggle="dropdown">
          {{data[3].category}}
        </button>
        <div class="dropdown-menu animated fadeIn">
          <a class="dropdown-item" (click)="getData(3,0)">{{data[3].subcategories[0].name}}</a>
          <a class="dropdown-item" (click)="getData(3,1)">{{data[3].subcategories[1].name}}</a>
        </div>
      </div>
    </div>
    <div class="col-9">
      <h3>Pick a Category from the List</h3>
      <h4 class="title main">{{title}}</h4>
       <div class="row">
        <div class="column item-container" *ngFor="let items of item">
          <div class="card animated fadeIn">
           <a [routerLink]="['/product',items.name,items.price,items.imagelink,items.description]"><img src="{{items.imagelink}}" alt="Item" style="width:100%"></a>
            <div class="container">
              <h2 class="item-name">{{items.name}}</h2>
              <p class="title price">Price: $ {{items.price}}</p>
              <p class="description">{{items.description}}</p>
              <p>
                <button class="button cart" (click)="addToCart()">Add to Cart</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
