.link{
    margin-left:48%;
}
.navbar{
	z-index:10;
}
.material-icons{
	font-size:18px;
	color:red;
	float:right;
	margin-left:5px;
}
a{
	font-size:12px;
}
.empty{
	display:none;
}

.badge{
	float:right;
	font-size:12px;
	color:red;
	margin-left:1px;
	background:white;
	border-radius:45px;
	margin-bottom:4px;
}