<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="content">
        <div class="container">
          <img src="{{imagelink}}" alt="Item" style="width:50%">
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="content">
        <h3><span class="style">Product</span> : {{name}}</h3>
        <h3><span class="style">Quantity</span> : <input type="number" value="1" #input (change)="calcPrice(input.value)" (click)="calcPrice(input.value)"></h3>
        <h4><span class="style">Price</span> : ${{totalAmount}}</h4>
        <h3><span class="style">Description</span> : {{description}}</h3>
        <button (click)="addToStorage()">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
