<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="content">
        <div class="container">
          <img src="{{imagelink}}" alt="Item" style="width:80%">
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="content">
        <h3><span class="style animated fadeIn">Product</span> : {{name}}</h3>
        <h3><span class="style animated fadeIn">Quantity</span> : <input type="number" value="1" #input (change)="calcPrice(input.value)" (click)="calcPrice(input.value)"></h3>
        <h4><span class="style animated fadeIn">Price</span> : ${{totalAmount}}</h4>
        <h3><span class="style animated fadeIn">Description</span> : {{description}}</h3>
        <button (click)="addToCart()" class="animated shake">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
