<div class="jumbotron bg-info animated fadeIn">
  <h1> Welcome to Grocery Cloud 2.0</h1>
</div>
<div class="container">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active animated fadeIn">
        <a [routerLink]="['/product',data[3].subcategories[0].items[0].name,data[3].subcategories[0].items[0].price,data[3].subcategories[0].items[0].imagelink,data[3].subcategories[0].items[0].description]"><img src="{{data[3].subcategories[0].items[0].imagelink}}" alt="Los Angeles" width="1100" height="500"></a>
      </div>
      <div class="carousel-item">
        <a [routerLink]="['/product',data[0].subcategories[0].items[0].name,data[0].subcategories[0].items[0].price,data[0].subcategories[0].items[0].imagelink,data[0].subcategories[0].items[0].description]"><img src="{{data[0].subcategories[0].items[0].imagelink}}" alt="Chicago" width="1100" height="500"></a>
      </div>
      <div class="carousel-item">
        <a [routerLink]="['/product',data[0].subcategories[0].items[6].name,data[0].subcategories[0].items[6].price,data[0].subcategories[0].items[6].imagelink,data[0].subcategories[0].items[6].description]"><img src="{{data[0].subcategories[0].items[6].imagelink}}" alt="" width="1100" height="500"></a>
      </div>
      <div class="carousel-item">
        <a [routerLink]="['/product',data[3].subcategories[0].items[1].name,data[3].subcategories[0].items[1].price,data[3].subcategories[0].items[1].imagelink,data[3].subcategories[0].items[1].description]"><img src="{{data[3].subcategories[0].items[1].imagelink}} " alt="Los Angeles" width="1100" height="500"></a>
      </div>
      <div class="carousel-item">
        <a [routerLink]="['/product',data[3].subcategories[0].items[2].name,data[3].subcategories[0].items[2].price,data[3].subcategories[0].items[2].imagelink,data[3].subcategories[0].items[2].description]"><img src="{{data[3].subcategories[0].items[2].imagelink}} " alt="Los Angeles" width="1100" height="500"></a>
      </div>
      <div class="carousel-item">
        <a [routerLink]="['/product',data[3].subcategories[0].items[11].name,data[3].subcategories[0].items[11].price,data[3].subcategories[0].items[11].imagelink,data[3].subcategories[0].items[11].description]"><img src="{{data[3].subcategories[0].items[11].imagelink}} " alt="Los Angeles" width="1100" height="500"></a>
      </div>
      <div class="carousel-item">
        <a [routerLink]="['/product',data[3].subcategories[0].items[14].name,data[3].subcategories[0].items[14].price,data[3].subcategories[0].items[14].imagelink,data[3].subcategories[0].items[14].description]"><img src="{{data[3].subcategories[0].items[14].imagelink}} " alt="Los Angeles" width="1100" height="500"></a>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  </div>
</div>
