 .carousel-inner img {
   width: 100%;
   height: 600px;
 }

 .jumbotron {
   margin-bottom: 0px;
   background:lightblue;
   border-radius:0px;
   border:2px solid black;
 }

 #demo {
   border: 2px solid black;
 }

 .carousel-control-prev-icon {
   color: black;
   background: black;
 }

 .carousel-control-next-icon {
   background: black
 }

 .head {
   text-align: center;
 }
.first{
   width:50%;
}
.second{
   width:50%;
}